In [85]:
import pandas  as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [8]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [10]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers = headers).text

In [11]:
soup = BeautifulSoup(webpage, 'lxml')

In [31]:
len(soup.find_all('h1')[0].text.strip())

1

In [88]:
for i in soup.find_all('span', class_ = "companyCardWrapper__companyRatingValue"):
    #print(i.text)

SyntaxError: incomplete input (2751329306.py, line 2)

In [37]:
company = soup.find_all('div', 'companyCardWrapper')

In [87]:
name = []
rating = []
info = []
high_rated = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span', class_ = 'companyCardWrapper__companyRatingValue').text.strip())
    info.append(i.find('span', class_= 'companyCardWrapper__interLinking').text.strip())
    try:
        high_rated.append(i.find('span', class_='companyCardWrapper__ratingValues').text.strip())
    except:
        high_rated.append(np.nan)

d = {'name':name, 'rating':rating, 'info':info, 'high_rated':high_rated}

df = pd.DataFrame(d)
df

,name,rating,info,high_rated
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance, Company Culture"
1,Accenture,4.1,IT Services & Consulting | 1 Lakh+ Employees |...,"Company Culture, Job Security, Skill Developme..."
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,"Skill Development / Learning, Job Security"
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Skill Development / Learning"
4,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 29 year...,"Job Security, Skill Development / Learning, Co..."
5,HDFC Bank,3.9,Banking | 1 Lakh+ Employees | Public | 29 year...,"Job Security, Skill Development / Learning"
6,Infosys,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Company Culture, Skill Developme..."
7,Capgemini,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance, Company Culture"
8,Tech Mahindra,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,NaN
9,HCLTech,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security
10,Genpact,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Skill Development / Learning, Wo..."
11,Axis Bank,3.8,Banking | 50k-1 Lakh Employees | Public | 30 y...,Job Security
12,Concentrix Corporation,3.9,BPO | 50k-1 Lakh Employees | Public | 40 years...,"Job Security, Company Culture"
13,Amazon,4.2,Internet | 1 Lakh+ Employees | Public | 29 yea...,"Company Culture, Salary & Benefits, Work Life ..."
14,Reliance Jio,3.9,Telecom | 50k-1 Lakh Employees | Public | 16 y...,"Job Security, Skill Development / Learning"
15,IBM,4.1,Software Product | 50k-1 Lakh Employees | Publ...,"Job Security, Work Life Balance, Skill Develop..."
16,Larsen & Toubro Limited,4.0,Engineering & Construction | 1 Lakh+ Employees...,"Job Security, Skill Development / Learning"
17,Reliance Retail,3.9,Retail | 1 Lakh+ Employees | 17 years old | Ch...,"Skill Development / Learning, Job Security"
18,HDB Financial Services,4.0,NBFC | 1 Lakh+ Employees | 16 years old | Chen...,"Skill Development / Learning, Job Security, Co..."
19,Teleperformance,3.6,BPO | 50k-1 Lakh Employees | Forbes Global 200...,NaN

In [57]:
soup.find_all('span', class_= 'companyCardWrapper__interLinking')[2].text.strip()

'IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 29 years old | Chennai +121 more'

In [99]:
final = pd.DataFrame()

for j in range(1,11):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    url = f'https://www.ambitionbox.com/list-of-companies?page={j}'
    webpage = requests.get(url, headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    
    company = soup.find_all('div', 'companyCardWrapper')
    
    name = []
    rating = []
    info = []
    high_rated = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span', class_ = 'companyCardWrapper__companyRatingValue').text.strip())
        info.append(i.find('span', class_= 'companyCardWrapper__interLinking').text.strip())
        try:
            high_rated.append(i.find('span', class_='companyCardWrapper__ratingValues').text.strip())
        except:
            high_rated.append(np.nan)

    d = {'name':name, 'rating':rating, 'info':info, 'high_rated':high_rated}

    df = pd.DataFrame(d)
    
    final = final.append(df)

C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\HP\AppData\Local\Temp\ipykernel_4356\1776855238.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)

In [100]:
final.shape

(200, 4)